customer_id = "C012345ab" # The Google Workspace customer ID from the Admin console.
domain      = "example.com"
impersonate_service_account_email = ""
allow_multi_point_grants = false

groups = [
  {
    display_name = "gcp-billing-admins"
    description  = "GCP Billing Administrators"
    roles        = ["roles/billing.admin"]
  },
  {
    display_name = "gcp-organization-admins"
    description  = "GCP Organization Administrators"
    roles = [
      "roles/resourcemanager.organizationAdmin",
      "roles/resourcemanager.organizationViewer"
    ]
  },
  {
    display_name = "gcp-security-admins"
    description  = "GCP Security Administrators"
    roles        = ["roles/iam.securityAdmin"]
  },
  {
    display_name = "cloud-platform-architect"
    description  = "Cloud Platform Architect"
    roles = [
      "roles/compute.networkViewer",
      "roles/run.viewer",
      "roles/cloudfunctions.viewer",
      "roles/cloudbuild.builds.viewer",
      "roles/apigee.readOnlyAdmin",
      "roles/bigquery.dataViewer",
      "roles/cloudsql.viewer",
      "roles/container.viewer",
      "roles/compute.viewer",
      "roles/datastore.viewer",
      "roles/workflows.viewer",
      "roles/serviceusage.serviceUsageViewer"
    ]
  },
  {
    display_name = "cloud-finance-manager"
    description  = "Cloud Finance Manager"
    roles = [
      "roles/billing.admin",
      "roles/looker.instanceUser",
      "roles/datacatalog.viewer",
      "roles/bigquery.user",
      "roles/logging.viewer"
    ]
  },
  {
    display_name = "cloud-financial-analyst"
    description  = "Cloud Financial Analyst"
    roles = [
      "roles/looker.instanceUser",
      "roles/datacatalog.viewer",
      "roles/bigquery.user",
      "roles/billing.viewer",
      "roles/logging.viewer",
      "roles/aiplatform.notebookRuntimeUser"
    ]
  },
  {
    display_name = "cloud-cost-optimization-specialist"
    description  = "Cloud Cost Optimization Specialist"
    roles = [
      "roles/bigquery.jobUser",
      "roles/looker.viewer",
      "roles/logging.viewer",
      "roles/datacatalog.viewer"
    ]
  },
  {
    display_name = "strategy-lead"
    description  = "Strategy Lead"
    roles = [
      "roles/bigquery.dataViewer",
      "roles/looker.viewer",
      "roles/datacatalog.viewer",
      "roles/resourcemanager.tagViewer"
    ]
  },
  {
    display_name = "service-intake-lead"
    description  = "Service Intake Lead"
    roles = [
      "roles/bigquery.dataViewer",
      "roles/looker.viewer",
      "roles/datacatalog.viewer"
    ]
  },
  {
    display_name = "vendor-management-lead"
    description  = "Vendor Management Lead"
    roles = [
      "roles/bigquery.user",
      "roles/looker.viewer"
    ]
  },
  {
    display_name = "cloud-platform-engineer"
    description  = "Cloud Platform Engineer"
    roles = [
      "roles/container.admin",
      "roles/iam.securityAdmin",
      "roles/compute.admin",
      "roles/cloudfunctions.admin",
      "roles/workflows.admin",
      "roles/run.admin",
      "roles/apigee.apiAdmin",
      "roles/cloudbuild.connectionAdmin",
      "roles/cloudbuild.builds.editor",
      "roles/storage.admin",
      "roles/logging.viewer",
      "roles/artifactregistry.repoAdmin",
      "roles/errorreporting.admin",
      "roles/monitoring.viewer",
      "roles/pubsub.admin"
    ]
  },
  {
    display_name = "network-operations-engineer"
    description  = "Network Operations Engineer"
    roles = [
      "roles/networkmanagement.admin",
      "roles/networkconnectivity.hubAdmin",
      "roles/storagetransfer.viewer",
      "roles/networkconnectivity.regionalEndpointAdmin",
      "roles/monitoring.viewer",
      "roles/logging.viewer",
      "roles/cloudbuild.builds.editor",
      "roles/compute.loadBalancerAdmin",
      "roles/dns.admin"
    ]
  },
  {
    display_name = "site-reliability-engineer"
    description  = "Site Reliability Engineer"
    roles = [
      "roles/container.admin",
      "roles/iam.securityAdmin",
      "roles/compute.admin",
      "roles/cloudfunctions.admin",
      "roles/workflows.admin",
      "roles/run.admin",
      "roles/apigee.apiAdmin",
      "roles/cloudbuild.connectionAdmin",
      "roles/cloudbuild.builds.editor",
      "roles/storage.admin",
      "roles/logging.viewer",
      "roles/monitoring.viewer",
      "roles/cloudtrace.admin",
      "roles/errorreporting.admin",
      "roles/compute.loadBalancerAdmin"
    ]
  },
  {
    display_name = "cloud-security-architect"
    description  = "Cloud Security Architect"
    roles = [
      "roles/securitycenter.adminViewer",
      "roles/logging.viewer",
      "roles/monitoring.viewer",
      "roles/cloudkms.viewer",
      "roles/compute.viewer",
      "roles/secretmanager.viewer",
      "roles/cloudbuild.builds.viewer",
      "roles/container.viewer",
      "roles/networkmanagement.viewer",
      "roles/dlp.reader"
    ]
  },
  {
    display_name = "cloud-security-governance-lead"
    description  = "Cloud Security Governance Lead"
    roles = [
      "roles/bigquery.user",
      "roles/looker.viewer",
      "roles/securitycenter.adminViewer",
      "roles/logging.viewer",
      "roles/monitoring.viewer",
      "roles/cloudkms.viewer",
      "roles/compute.viewer",
      "roles/secretmanager.viewer",
      "roles/cloudbuild.builds.viewer",
      "roles/container.viewer",
      "roles/networkmanagement.viewer"
    ]
  },
  {
    display_name = "security-engineer"
    description  = "Security Engineer"
    roles = [
      "roles/secretmanager.admin",
      "roles/securitycenter.admin",
      "roles/logging.admin",
      "roles/cloudkms.admin",
      "roles/compute.securityAdmin",
      "roles/osconfig.admin",
      "roles/cloudbuild.builds.editor",
      "roles/monitoring.admin",
      "roles/privilegedaccessmanager.admin",
      "roles/dlp.admin",
      "roles/privateca.admin",
      "roles/iam.securityAdmin"
    ]
  },
  {
    display_name = "cloud-security-operations-engineer"
    description  = "Cloud Security Operations Engineer"
    roles = [
      "roles/bigquery.user",
      "roles/looker.viewer",
      "roles/ids.admin",
      "roles/logging.admin",
      "roles/monitoring.admin",
      "roles/compute.securityAdmin"
    ]
  },
  {
    display_name = "devsecops-lead"
    description  = "DevSecOps Lead"
    roles = [
      "roles/logging.viewer",
      "roles/monitoring.viewer",
      "roles/compute.securityAdmin",
      "roles/cloudbuild.builds.editor",
      "roles/compute.networkUser",
      "roles/secretmanager.viewer"
    ]
  },
  {
    display_name = "data-engineer"
    description  = "Data Engineer"
    roles = [
      "roles/dataflow.admin",
      "roles/bigquery.admin",
      "roles/storage.admin",
      "roles/cloudfunctions.admin",
      "roles/run.admin",
      "roles/datacatalog.admin",
      "roles/cloudsql.admin",
      "roles/logging.viewer",
      "roles/monitoring.viewer",
      "roles/dlp.user"
    ]
  },
  {
    display_name = "data-analyst"
    description  = "Data Analyst"
    roles = [
      "roles/bigquery.user",
      "roles/looker.instanceUser",
      "roles/storage.objectCreator",
      "roles/aiplatform.notebookRuntimeUser"
    ]
  },
  {
    display_name = "data-platform-architect"
    description  = "Data Platform Architect"
    roles = [
      "roles/composer.user",
      "roles/dataflow.viewer",
      "roles/dataproc.viewer",
      "roles/datastream.viewer",
      "roles/logging.viewer",
      "roles/monitoring.viewer",
      "roles/pubsub.viewer",
      "roles/run.viewer",
      "roles/datacatalog.viewer"
    ]
  },
  {
    display_name = "data-steward"
    description  = "Data Steward"
    roles = [
      "roles/datacatalog.viewer",
      "roles/dlp.user",
      "roles/bigquery.user",
      "roles/storage.objectViewer"
    ]
  },
  {
    display_name = "data-scientist"
    description  = "Data Scientist"
    roles = [
      "roles/aiplatform.admin",
      "roles/storage.objectCreator",
      "roles/bigquery.user",
      "roles/artifactregistry.writer",
      "roles/logging.viewer",
      "roles/monitoring.viewer",
      "roles/cloudbuild.builds.editor",
      "roles/looker.instanceUser",
      "roles/run.builder",
      "roles/cloudscheduler.jobRunner",
      "roles/cloudfunctions.developer"
    ]
  },
  {
    display_name = "ml-engineer"
    description  = "ML Engineer"
    roles = [
      "roles/apigee.apiAdmin",
      "roles/container.admin",
      "roles/aiplatform.admin",
      "roles/storage.objectCreator",
      "roles/bigquery.user",
      "roles/artifactregistry.writer",
      "roles/logging.viewer",
      "roles/monitoring.viewer",
      "roles/cloudbuild.builds.editor",
      "roles/looker.instanceUser",
      "roles/run.builder",
      "roles/cloudscheduler.jobRunner",
      "roles/cloudfunctions.developer"
    ]
  },
  {
    display_name = "product-manager"
    description  = "Product Manager"
    roles = [
      "roles/bigquery.user",
      "roles/looker.viewer",
      "roles/monitoring.viewer",
      "roles/datacatalog.viewer"
    ]
  },
  {
    display_name = "technical-product-lead"
    description  = "Technical Product Lead"
    roles = [
      "roles/logging.viewer",
      "roles/monitoring.viewer",
      "roles/pubsub.viewer",
      "roles/run.viewer",
      "roles/datacatalog.viewer",
      "roles/compute.viewer",
      "roles/dataflow.viewer",
      "roles/dataproc.viewer",
      "roles/datastream.viewer",
      "roles/looker.viewer"
    ]
  },
  {
    display_name = "software-application-engineer"
    description  = "Software / Application Engineer"
    roles = [
      "roles/logging.viewer",
      "roles/monitoring.viewer",
      "roles/run.viewer",
      "roles/storage.objectViewer"
    ]
  },
  {
    display_name = "ui-ux-engineer"
    description  = "UI/UX Engineer"
    roles = [
      "roles/bigquery.user",
      "roles/looker.viewer",
      "roles/monitoring.viewer"
    ]
  },
  {
    display_name = "jde-dev-application-role"
    description  = "JDE Dev Application Role"
    # folder_id = "814431395528" # Replace with the actual JDE Folder ID.
    roles = [
      "roles/compute.admin",
      "roles/compute.networkUser",
      "roles/compute.loadBalancerAdmin",
      "roles/oracledatabase.admin",
      "roles/logging.viewer",
      "roles/monitoring.viewer"
    ]
  }
]